@import "../../shared/styles/_colors.scss";

.dark-bg-posted {
  min-height: 13rem;
}
.home-posted {
  margin: 0 9rem;
  padding: 1rem 0 3rem;
  min-height: calc(100vh - 4.375rem);
  .breadcrumb {
    display: flex;
    align-items: baseline;

    .icon {
      display: inline-block;
      height: 0.6rem;
      margin-right: 0.2rem;
      .img {
        height: 100%;
        width: 100%;
        object-fit: contain;
      }
    }
    .home-icon {
      font-size: 12px;
    }
  }

  .home-page {
    margin-top: 1.5rem;
    font-size: 1.375rem;
  }

  .job-apps {
    margin-top: 15rem;
    height: 6.625rem;

    .notepad-img {
      height: 100%;
      width: 100%;
      object-fit: contain;
    }

    .no-jobs {
      text-align: center;
      margin-top: 1rem;
    }
  }

  .btn {
    text-align: center;
    .btn-login {
      padding-left: 1.775rem;
      padding-right: 1.775rem;
    }
  }
  .card-block {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    place-content: center;
    margin-top: 1.25rem;

    .job-card {
      width: 17rem;
    }
    .job-title {
      width: 100%;
    }
  }
}

.applications {
  position: fixed;
  background: rgba(0, 0, 0, 0.2);
  inset: 0;
  display: grid;
  place-items: center;

  .apps-modal {
    background: $white;
    padding: 1rem 2rem;
    border-radius: 1.5rem;

    .apps-title {
      font-weight: bold;
      font-size: 19px;
      border-bottom: 1px solid $navy;
      padding: 20px 0;
      display: flex;
      justify-content: space-between;

      .apps-close {
        // margin-left: 30rem;
        cursor: pointer;
      }
    }

    .apps-length {
      margin: 0.6rem 0;
    }

    .card-container {
      background: #a9afbc 0% 0% no-repeat padding-box;
      border-radius: 10px;
      padding: 0.5rem;
      overflow-y: auto;
      height: 70vh;

      .avtr-card {
        width: 302px;
        height: 159px;
        background: $white 0% 0% no-repeat padding-box;
        border: 1px solid $navy;
        border-radius: 5px;

        .avtr-name-email {
          display: flex;
          align-items: center;

          .avtr {
            width: 3rem;
            height: 3rem;
            background-color: #d9efff;
            border-radius: 25px;
            margin: 14px;
            display: grid;
            place-items: center;
          }
          .name-email {
          }
        }

        .card-skills {
          padding: 0 1rem;
        }
      }

      .no-img {
        width: 5.25rem;
        height: 6.625rem;
        .img {
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
      }
    }
    .no-app {
      display: grid;
      place-items: center;
      align-content: center;
      font-size: 22px;
      padding:0 8rem;
    }

    .applications-card {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 1rem;
      place-items: center;
    }
  }
}

@media only screen and (max-width: 600px) {
  .home-posted {
    margin: 0 0.5rem;
    .card-block {
      gap: 0;
    }
  }

  .applications {
    .apps-modal {
      padding: 1rem 1rem;

      .applications-card {
        grid-template-columns: 1fr;
      }
      .card-container .avtr-card {
        width: unset;
        height: unset;
      }
      .no-app{
        padding: unset;
      }
    }
  }
}
