.header {
  background-color: #303f60;

  .section {
    height: 4.375rem;
    display: flex;
    border-bottom: 1px solid #E8E8E833;
    margin: 0 4.38rem;
  }

  .col {
    flex: 50%;
    align-self: center;
  }

  .title {
    font-size: 22px;
  }

  .btn {
    text-align: right;
    .btn-login {
      color: white;
      background: #43afff33 0% 0% no-repeat padding-box;
      border: 1px solid #43afff;
      border-radius: 5px;
      padding: 0.8rem 1.5rem;
      cursor: pointer;
    }
    .btn-login:hover {
      background: #43afff 0% 0% no-repeat padding-box;
    }
  }
}
